.sk-chase {
  width: 80px;
  height: 80px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: sk-chase-dot 2s infinite ease-in-out both;
}

.sk-chase-dot:before {
  content: "";
  display: block;
  width: 25%;
  height: 25%;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-chase-dot-before 2s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) {
  animation-delay: -1.1s;
}
.sk-chase-dot:nth-child(2) {
  animation-delay: -1s;
}
.sk-chase-dot:nth-child(3) {
  animation-delay: -0.9s;
}
.sk-chase-dot:nth-child(4) {
  animation-delay: -0.8s;
}
.sk-chase-dot:nth-child(5) {
  animation-delay: -0.7s;
}
.sk-chase-dot:nth-child(6) {
  animation-delay: -0.6s;
}
.sk-chase-dot:nth-child(1):before {
  animation-delay: -1.1s;
}
.sk-chase-dot:nth-child(2):before {
  animation-delay: -1s;
}
.sk-chase-dot:nth-child(3):before {
  animation-delay: -0.9s;
}
.sk-chase-dot:nth-child(4):before {
  animation-delay: -0.8s;
}
.sk-chase-dot:nth-child(5):before {
  animation-delay: -0.7s;
}
.sk-chase-dot:nth-child(6):before {
  animation-delay: -0.6s;
}

@keyframes sk-chase {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot {
  80%,
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4);
  }
  100%,
  0% {
    transform: scale(1);
  }
}

.section-container {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  /* min-height: fit-content; */
}

.section-center {
  width: 1440px;
  height: 100%;
  max-height: 800px;
  color: white;
  box-shadow: 1px 1px 4px #000000;
  z-index: 1;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}

.section-center[data-visible="false"] {
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
}

.section-center-loading {
  background-color: #2c3e50;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 4rem 12rem;
  position: absolute;
  top: 0;
  left: 0;
}

.line-img {
  border-left: 2px solid #000;
  position: absolute;
  height: 100%;
  max-height: 800px;
  z-index: 1;
}

.background-img {
  background: url("../public/assets/desktop/bg-image-daytime.jpg");
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  max-height: 800px;
  filter: brightness(55%);
  z-index: -1;
}

.background-img[day-info="false"] {
  background: url("../public/assets/desktop/bg-image-nighttime.jpg");
}

/************************************/
.section-top {
  margin-left: 11.46%;
  margin-right: 11.46%;
  grid-row: 1;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 100px;
}

.section-top[data-visible="false"] {
  justify-content: center;
}

.quote-container {
  display: flex;
  flex-direction: column;
  transform: translateY(0);
  transition: transform 500ms ease-in-out;
  margin-top: 5.1%;
}

.quote-container[data-visible="false"] {
  transform: translateY(200);
  display: none;
}

.quote-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 51.6%;
}

.quote-text {
  width: 94.2%;
}

.quote-button {
  cursor: pointer;
  background: transparent;
  border: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 10px;
}

.quote-refresh {
  margin-top: 5px;
}

.quote-author {
  font-weight: bold;
  margin: 0;
  margin-top: 1.2%;
}

/************************************/
.weather-time-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 8.75%;
}

.weather-time-container[data-visible="false"] {
  margin-bottom: 0;
}

.weather-time-container[data-visible="false"] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.weather-time-container-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/**************/
.day-box {
  display: flex;
  align-items: center;
  margin-top: 0;
}

.icon-day-box {
  border: none;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0;
}

.greet-text {
  margin-left: 16px;
  margin-top: 0;
  margin-bottom: 0;
}

/**************/
.hour-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  margin: 0;
  padding: 0;
}

.hour-text {
  margin: 0;
  padding: 0;
  margin-top: 16px;
  margin-right: 16px;
  font-weight: 700;
  font-size: 200px;
  line-height: 200px;
  letter-spacing: -5px;
}

.hour-spec {
  font-weight: 300;
  font-size: 40px;
  line-height: 28px;
}

/**************/
.place-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-top: 2.45%;
  height: 28px;
}

.place-text {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-end;
}

/**************/
.btn-box {
  display: flex;
}

.btn {
  width: 146px;
  height: 56px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 28px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  background: var(--white);
  transition: 500ms;
  z-index: 4;
}

.btn-text {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 5px;
  position: relative;
  transform: translateX(35px);
  left: -15%;
  transition: 500ms;
  opacity: 0.5;
}

.btn-icon {
  position: relative;
  background: var(--black-light);
  border: none;
  border-radius: 40px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -3%;
  cursor: pointer;
}

.btn-icon:hover {
  opacity: 0.5;
}

.btn-image {
  margin-top: 1px;
}

.btn-image[data-visible="false"] {
  margin-top: -2px;
}

.btn-icon:active {
  opacity: 1;
}

.btn-icon:focus {
  opacity: 1;
}

/************************************/
.section-bottom {
  display: none;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(40.7742px);
  color: black;
  margin: 0;
  padding: 0;
  max-width: 1440px;
  max-height: 400px;
  transition: transform 500ms ease-in-out;
  z-index: 1;
  grid-row: 2;
  grid-column: 1;
}

.section-bottom[day-info="false"] {
  display: none;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(40.7742px);
  color: white;
  transition: transform 500ms ease-in-out;
}

.section-bottom[data-visible="false"] {
  display: flex;
  transform: translateY(0);
}

.more-information {
  padding: 0;
  margin: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  grid-template-rows: 1fr 1fr;
  margin-left: 11.46%;
  margin-right: 11.46%;
  margin-top: 2%;
  row-gap: 40px;
}

.more-information-cell {
  padding: 0;
  margin: 0;
}

.cell1 {
  grid-column: 1;
  grid-row: 1;
}

.cell2 {
  grid-column: 1;
  grid-row: 2;
}

.cell3 {
  grid-column: 3;
  grid-row: 1;
  margin-left: 16.775%;
}

.cell4 {
  grid-column: 3;
  grid-row: 2;
  margin-left: 16.775%;
}

.line {
  grid-column: 2;
  grid-row: 1 / span 2;
  border-left: 1.5px solid #303030;
  height: 67.7%;
  margin-top: 2.9rem;
  opacity: 0.25;
}

.line[day-info="false"] {
  border-left: 1.5px solid #fff;
  opacity: 0.4;
}

.label-top {
  margin: 0;
  padding: 0;
  margin-top: 2.85rem;
}

.value-top {
  margin: 0;
  padding: 0;
  margin-top: 0.55rem;
}

.label-bottom {
  margin: 0;
  padding: 0;
  margin-top: 0.45rem;
}

.value-bottom {
  margin: 0;
  padding: 0;
  margin-top: 0.55rem;
}

@media (max-width: 1165px) {
  .section-top {
    margin-left: 8%;
    margin-right: 8%;
  }

  .more-information {
    margin-left: 8%;
    margin-right: 8%;
  }

  .quote-line {
    width: 70%;
  }

  .btn-icon:hover {
    opacity: 1;
  }
}

@media (max-width: 1070px) {
  .hour-spec {
    font-size: 30px;
    line-height: 28px;
  }
}

@media (max-width: 1025px) {
  .hour-text {
    font-size: 175px;
    line-height: 175px;
  }

  .hour-spec {
    font-size: 30px;
    line-height: 28px;
  }

  .greet-text {
    font-size: 18px;
    letter-spacing: 3.6px;
  }

  .place-text {
    font-size: 18px;
    letter-spacing: 3.6px;
  }
}

@media (max-width: 980px) {
  .section-center[data-visible="false"] {
    grid-template-columns: 100%;
    grid-template-rows: 62% 38%;
  }

  .label-top {
    font-size: 13px;
    letter-spacing: 2.6px;
  }

  .value-top {
    font-size: 40px;
    line-height: 48.41px;
  }

  .label-bottom {
    font-size: 13px;
    letter-spacing: 2.6px;
  }

  .value-bottom {
    font-size: 40px;
    line-height: 48.41px;
  }

  .quote-line {
    width: 75%;
  }
}

@media (max-width: 940px) {
  .weather-time-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .weather-time-container[data-visible="false"] {
    flex-direction: column;
    align-items: flex-start;
  }

  .btn-box {
    margin-top: 6%;
  }
}

@media (max-width: 767px) {
  .section-center {
    width: 767px;
    max-height: 1024px;
  }

  .section-center[data-visible="false"] {
    grid-template-columns: 100%;
    grid-template-rows: 57% 43%;
  }

  .background-img {
    background: url("../public/assets/tablet/bg-image-daytime.jpg");
    max-width: 767px;
    max-height: 1024px;
  }

  .background-img[day-info="false"] {
    background: url("../public/assets/tablet/bg-image-nighttime.jpg");
  }

  .section-top {
    margin-left: 7%;
    margin-right: 7%;
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
  }

  .section-top[data-visible="false"] {
    justify-content: center;
    margin-top: 11.7%;
  }

  .section-bottom {
    max-width: 767px;
    max-height: 440px;
    grid-row: 2;
    grid-column: 1;
  }

  .section-bottom[data-visible="false"] {
    display: flex;
    transform: translateY(0);
  }

  .more-information {
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 9.7%;
  }

  .quote-line {
    width: 84%;
  }

  .weather-time-container {
    margin-bottom: 10.1%;
  }

  .btn-box {
    margin-top: 12.3%;
  }

  .quote-container {
    margin-top: 12.5%;
  }

  .place-box {
    margin-top: 0%;
  }

  .hour-text {
    margin-top: 0px;
  }

  .quote-author {
    margin-top: 2%;
  }

  .label-top {
    font-size: 13px;
    letter-spacing: 2.6px;
  }

  .value-top {
    margin-top: 0.2%;
    font-size: 40px;
    line-height: 48.41px;
  }

  .label-bottom {
    margin-top: -8%;
    font-size: 13px;
    letter-spacing: 2.6px;
  }

  .value-bottom {
    margin-top: 0.2%;
    font-size: 40px;
    line-height: 48.41px;
  }

  .line {
    display: none;
  }
}

@media (max-width: 745px) {
  .section-top {
    margin-left: 6%;
    margin-right: 6%;
  }

  .more-information {
    margin-left: 6%;
    margin-right: 6%;
  }

  .hour-text {
    font-size: 140px;
    line-height: 140px;
    letter-spacing: -2.5px;
  }

  .quote-line {
    width: 100%;
  }
}

@media (max-width: 630px) {
  .hour-text {
    font-size: 120px;
    line-height: 120px;
    letter-spacing: -2.5px;
    margin-top: 16px;
  }

  .hour-spec {
    font-size: 20px;
    line-height: 28px;
  }

  .greet-text {
    font-size: 15px;
    letter-spacing: 3px;
  }

  .place-text {
    font-size: 15px;
    letter-spacing: 3px;
  }

  .place-box {
    margin-top: 16px;
  }
}

@media (max-width: 525px) {
  .more-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
    margin-top: 0;
  }

  .cell1 {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .cell2 {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .cell3 {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .cell4 {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .label-top {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 2px;
  }

  .value-top {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
  }

  .label-bottom {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 2px;
  }

  .value-bottom {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
  }
}

@media (max-width: 505px) {
  .hour-text {
    font-size: 100px;
    line-height: 100px;
    letter-spacing: -2.5px;
  }

  .quote-text {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }

  .quote-author {
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
  }

  .hour-spec {
    font-size: 14px;
  }

  .place-box {
    margin-top: 15px;
  }

  .greet-add {
    display: none;
  }
}

@media (max-width: 415px) {
  .hour-text {
    margin-right: 0px;
    font-size: 95px;
    line-height: 95px;
    letter-spacing: -2.5px;
  }

  .label-top {
    font-size: 10px;
    line-height: 28px;
  }

  .value-top {
    font-size: 20px;
    line-height: 24px;
  }

  .label-bottom {
    font-size: 10px;
    line-height: 28px;
  }

  .value-bottom {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (max-width: 375px) {
  .section-center {
    width: 375px;
    max-height: 100svh;
  }

  .section-center[data-visible="false"] {
    grid-template-columns: 100%;
    grid-template-rows: 61.5% 38.5%;
  }

  .background-img {
    background: url("../public/assets/mobile/bg-image-daytime.jpg");
    max-width: 375px;
    max-height: 100svh;
    background-size: cover;
  }

  .background-img[day-info="false"] {
    background: url("../public/assets/mobile/bg-image-nighttime.jpg");
  }

  .quote-text {
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
  }

  .quote-author {
    font-size: 12px;
    line-height: 22px;
    font-weight: 700;
  }

  .weather-time-container {
    margin-bottom: 12%;
  }

  .btn-box {
    margin-top: 14.8%;
  }

  .quote-container {
    margin-top: 9.8%;
  }

  .place-box {
    margin-top: 4.8%;
  }

  .hour-text {
    margin-top: 4.4%;
    margin-right: 0px;
  }

  .quote-author {
    margin-top: 2.5%;
  }

  .btn {
    width: 115px;
    height: 39px;
  }

  .btn-text {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 3.75px;
    left: -22%;
  }

  .btn-icon {
    height: 32px;
    width: 32px;
    left: 1%;
    background: var(--black-light);
  }

  .btn-image {
    margin-top: 1px;
    height: 7.2px;
    width: 14.4px;
  }

  .btn-image[data-visible="false"] {
    margin-top: -2px;
  }

  .more-information {
    gap: 7%;
  }

  .hour-spec {
    display: none;
  }
}
