@import url("./normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --black: #000;
  --black-light: #303030;
  --white: #fff;
  --grey: #999999;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--white);
  color: var(--white);
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
  min-height: fit-content;
  overflow-x: visible;
}

h1 {
  font-family: Inter;
  font-weight: 700;
  font-size: 200px;
  line-height: 200px;
  letter-spacing: -5px;
}

h2 {
  font-family: Inter;
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
}

h3 {
  font-family: Inter;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}

h4 {
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 4px;
}

h5 {
  font-family: Inter;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}

h6 {
  font-family: Inter;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
